<div class="row">
	<div class="eight wide column extra-padding">
        <h1 class="ui header">Login</h1>
        <% if flash[:notice] %>
            <div class="notice"><%= flash[:notice] %></div>
        <% end %>
        <%= render "login_form" %>
    </div>

    <div class="eight wide column extra-padding">
        <h1 class="ui header">Create Account</h1>
        <%= render "users/user_form" %>
    </div>

</div>

<div class="ui vertical divider">
    or
</div>

