// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-comments {
  li {
    margin-bottom: 1em;
  }
  small {
    display: block;
  }
}

.ui.vertical.segment {
  border-bottom: none!important;
}

.column.extra-padding {
  &:first-child {
    padding-right: 7em!important;
  }
  &:last-child {
    padding-left: 7em!important;
  }
}