<%= form_for @category, html: {class:"ui form"} do |f| %>
  <div class="field">
    <%= f.label :name, "Create a New Category" %>
    <%= f.text_field :name, placeholder: "Category name" %>
  </div>
  <%= f.submit "Submit", :class => "ui button"%>
<% end %>