<%= form_for @category, html: {class:"ui form"} do |f| %>
  <div class="field">
    <%= f.label :name, "Create New Category" %>
    <%= f.text_field :name, placeholder: "Enter category name" %>
  </div>
  <div class="field">
    <%= f.submit "Submit", :class => "ui button" do %>
      <i class="pencil alternate icon"></i> Create Category
    <% end %>
  </div>
  
<% end %>