<div class="ui modal login-modal" style="padding: 2em;">
  <i class="close icon"></i>
  <div class="ui two column very relaxed grid">
    <div class="column">
      <h2 class="ui header">Login</h2>
      <%= render "sessions/login_form" %>
    </div>
    <div class="column">
      <h2 class="ui header">Create Account</h2>
      <%= render "users/user_form"  %>
    </div>
  </div>
  <div class="ui vertical divider">
    or
  </div>
</div>